@import url( 'https://fonts.googleapis.com/css?family=Roboto+Condensed|Inconsolata' );

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #336699;
  border-bottom: 1px #336699 dotted;
}

a:hover {
  text-decoration: none;
  border: none;
}

h1, h3 {
  font-weight: bolder;
  color: #2F323A;
}

h5 {
  color: #86BBD8;
}

.hero-content h1 {
  color: inherit;
}

#nav-breakpoint {
  content: '';
}

section {
  font-size: 2rem;
  padding: 0 0 2em;
  color: #909090;
}

section h1 {
  font-size: 5rem;
}

footer {
  padding: 80px 0 50px;
  background-color: #2F323A;
  color: #FCFCFC;
  text-align: center;
}

.sm {
  color: #336699;
}

footer a {
  color: #FCFCFC;
  text-decoration: none;
  border: none;
}

#wrapper {
  display: block;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  color: white;
}

.fullscreen-hero {
  width: 100%;
  height: 100vh;
    min-height: 350px;
  position: relative;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fullscreen-hero h1 {
  font-size: 10rem;
}

.hero-image {
  background-image: url( 'smm.jpg' );
    height: inherit;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: table;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.hero-content {
  display: table-cell;
  position: relative;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

.bt {
  content: '';
  text-align: center;
  font-weight: bolder;
  border-radius: 50px;
  padding: .2em 0;
  margin: 1.5em 7.5em;
}

.bt-filled {
  border: 2px solid #D81E5B;
  background-color: #D81E5B;
  color: #FCFCFC;

  -webkit-animation: btFilledOut .2s ease;
  animation: btFilledOut .2s ease;
}

.bt-filled:hover {
  -webkit-animation: btFilledIn .2s ease forwards;
  animation: btFilledIn .2s ease forwards;
  z-index: 999;
}

@-webkit-keyframes btFilledIn {
  from {
    -webkit-color: inherit;
    -webkit-background-color: inherit;
  }
  to {
    -webkit-color: #FCFCFC;
    -webkit-background-color: #2F323A;
    -webkit-border-color: #2F323A;
  }
}

@keyframes btFilledIn {
  from {
    color: inherit;
    background-color: inherit;
  }
  to {
    color: #FCFCFC;
    background-color: #2F323A;
    border-color: #2F323A;
  }
}

@-webkit-keyframes btFilledOut {
  from {
    -webkit-color: inherit;
    -webkit-background-color: inherit;
  }
  to {
    -webkit-color: #FCFCFC;
    -webkit-background-color: #D81E58;
    -webkit-border-color: #D81E58;
  }
}

@keyframes btFilledOut {
  from {
    color: inherit;
    background-color: inherit;
  }
  to {
    color: #FCFCFC;
    background-color: #D81E58;
    border-color: #D81E58;
  }
}

.bt-ghost {
  border: 2px solid #D81E5B;
  color: #2F323A;
  -webkit-animation: btGhostOut .2s ease;
  animation: btGhostOut .2s ease;
}

.bt-ghost:hover {
  -webkit-animation: btGhostIn .2s ease forwards;
  animation: btGhostIn .2s ease forwards;
  z-index: 999;
}

.bt-ghost-mono {
  color: #FCFCFC;
  border: 2px solid white;
  -webkit-animation: btGhostOutMono .2s ease;
  animation: btGhostOutMono .2s ease;
}

.bt-ghost-mono:hover {
  -webkit-animation: btGhostInMono .2s ease forwards;
  animation: btGhostInMono .2s ease forwards;
  z-index: 999;
}

@-webkit-keyframes btGhostIn {
  from {
    -webkit-color: inherit;
    -webkit-background-color: none;
  }
  to {
    -webkit-color: #FCFCFC;
    -webkit-background-color: #D81E5B;
  }
}

@keyframes btGhostIn {
  from {
    color: inherit;
    background-color: none;
  }
  to {
    color: #FCFCFC;
    background-color: #D81E5B;
  }
}

@@-webkit-keyframes btGhostInMono {
  from {
    -webkit-color: inherit;
    -webkit-background-color: none;
  }
  to {
    -webkit-color: #FCFCFC;
    -webkit-background-color: #2F323A;
    -webkit-border-color: #2F323A;
  }
}

@keyframes btGhostInMono {
  from {
    color: inherit;
    background-color: none;
  }
  to {
    color: #FCFCFC;
    background-color: #2F323A;
    border-color: #2F323A;
  }
}

@-webkit-keyframes btGhostOut {
  from {
    -webkit-color: #FCFCFC;
    -webkit-background-color: #D81E5B;
  }
  to {
    -webkit-color: inherit;
    -webkit-background-color: none;
  }
}

@keyframes btGhostOut {
  from {
    color: #FCFCFC;
    background-color: #D81E5B;
  }
  to {
    color: inherit;
    background-color: none;
  }
}

@-webkit-keyframes btGhostOutMono {
  from {
    -webkit-color: inherit;
    -webkit-background-color: #2F323A;
    -webkit-border-color: #2F323A;
  }
  to {
    -webkit-color: #FCFCFC;
    -webkit-background-color: none;
  }
}

@keyframes btGhostOutMono {
  from {
    color: inherit;
    background-color: #2F323A;
    border-color: #2F323A;
  }
  to {
    color: #FCFCFC;
    background-color: none;
  }
}


.desc {
  display: block;
}

.desc p {
  padding: .75em .5em;
  margin: 0em 1.5em 0;
  font-size: 1.6rem;
}

#fullscreen-hero::before, #fullscreen-hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
}

#me, #wip {
  text-align: center;
  background-color: #FCFCFC;
}

#projects:before {
  position: absolute;
  background-color: inherit;
  border-bottom: 50px solid #E4E5E8;
  width: 100%;
  content: '';
  left: 0;
  padding: 0 0 1em;
  transform-origin: left bottom;
  transform: skewY( -2deg );
}

#projects {
  text-align: center;
  background-color: #E4E5E8;
}

#wip:before {
  position: absolute;
  background-color: inherit;
  border-bottom: 50px solid #FCFCFC;
  width: 100%;
  content: '';
  left: 0;
  padding: 1em 0 0;
  transform-origin: right bottom;
  transform: skewY( 2deg );
}

.me-pane {
  padding: 1.5em 1.5em 0;
  color: #909090;
  height: auto;
}

.section-header {
  padding: 1em 0;
}

.section-header-tall {
  padding: 2em 0;
}

.section-footer {
  padding: 0 0 4em;
}

.content-header {
  padding: 0 0.5em 0.5em;
}

.content-header-tall {
  padding: 0 0.5em 1.5em;
}

.project-thumb img {
  display: block;
  margin: 0 auto;
  width: 350px;
    max-width: 100%;
  height: auto;
  border-radius: 3%;
}

.wip-thumb img {
  display: block;
  margin: 0 auto;
  width: 500px;
    max-width: 100%;
  height: auto;
  border-radius: 3%;
}


@media( max-width: 992px ) {
  .bubble {
    margin: 0 auto;
    padding: 2.5vh 25vw 2.5vh;
  }
}

@media( min-width: 993px ) {
  .bubble {
    margin: 0 auto;
    padding: 2.5vh 5vw 2.5vh;
  }
}

.bubble-content {
  position: relative;
  display: block;
  margin: 0;
  text-align: center;
  background-color: #D81E5B;
  color: #FCFCFC;
  border-radius: 50%;
  padding-top: 100%;
  font-size: 2.5rem;
  max-width: 100%;
  height: auto;
}

.bubble-text {
  color: #2F323A;
  display: block;
  font-size: 3rem;
}

@media( max-width: 992px ) {
  .bubble-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 10vw;

    -webkit-transform: translate( -50%, -50% );
    transform: translate( -50%, -50% );
  }
}

@media( min-width: 993px ) {
  .bubble-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4vw;

    -webkit-transform: translate( -50%, -50% );
    transform: translate( -50%, -50% );
  }
}

.complement {
  font-weight: bold;
  color: #336699;
  padding: 0 .5em 0 0;
}

.separator {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #2F323A;
  content: '';
}
