.layout {
  width: 100vw;
}

.sidebar {
  position: fixed;
  top: 0;
  width: 15vw;
  background-color: $color-black;
  border-bottom: 0.5rem solid $color-primary-dark;
  box-shadow: $box-shadow;
  color: $color-text-dark;
  height: calc(100% - 0.5rem);
  &--nav {
    padding-top: 20vh;
    margin-left: 2rem;
    line-height: 0.75rem;
  }
  @media screen and (orientation: portrait) {
    display: none;
  }
}

.main {
  position: relative;
  margin-left: 15vw;
  padding: 0 3rem;
  @media screen and (orientation: portrait) {
    margin: 1.5rem;
    padding: 0;
  }
}
