$color-dark: #161616;
$color-black: #141414;
$color-white: #ccc;
$color-text: #8d8d8d;
$color-text-header: #aeaeae;
$color-text-dark: #494949;
$color-primary: #fc4675;
$color-primary-dark: #c3004a;
$color-secondary: #118ab2;
$color-secondary-dark: #5abae4;
