/* shadows */
$box-shadow: 2px 0 4px 4px rgba(black, 0.15);

/* transitions */
$transition-decel: cubic-bezier(0.4, 0, 1, 1);
$transition-accel: cubic-bezier(0, 0, 0.2, 1);

/* rhythm */
$rhythm-short: 0.75rem;
$rhythm-normal: 1rem;
$rhythm-long: 1.5rem;
$rhythm-longer: 2rem;
