.frontpage-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 6fr 2fr;
  align-items: start;
  ul {
    margin-left: 0.75rem;
    li {
      @media screen and (max-width: 414px) {
        a {
          display: block;
        }
      }
    }
  }
  h1 {
    margin-bottom: $rhythm-longer !important;
  }
}
