.projects {
  overflow: hidden;
  &--grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    h1 {
      margin-bottom: $rhythm-longer !important;
    }
  }
  &--project {
    position: relative;
    background-color: rgba($color-black, 0.5);
    height: 30vh;
    margin-bottom: $rhythm-longer;
    overflow: hidden;
    width: 100%;
    img {
      position: relative;
      width: 100%;
      bottom: 50%;
      z-index: -1;
    }
    .project--title {
      position: absolute;
      font-style: italic;
      color: $color-white;
      left: 0;
      bottom: 0;
      padding: 1rem;
      background-color: $color-black;
    }
  }
}
