@import 'partials/index';
@import 'components/index';
@import 'pages/index';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,700i');
html {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 16px;
}

body {
  position: relative;
  background-color: $color-dark;
  color: $color-text;
  font-family: 'Roboto Mono', monospace;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  color: $color-text-header;
  font-style: italic;
  font-weight: bold;
  &.marquee {
    display: flex;
    align-items: center;
    @media screen and (max-width: 320px) {
      justify-content: flex-start;
    }
    svg {
      height: 5.5rem;
      width: 5.5rem;
      margin-right: 1.5rem;
      @media screen and (max-width: 414px) {
        margin-right: 1rem;
      }
    }
  }

  @media screen and (max-width: 414px) {
    font-size: 2.75rem;
  }
  @media screen and (max-width: 320px) {
    font-size: 2.5rem;
  }
}

h2 {
  margin: $rhythm-longer auto $rhythm-shorter;
  font-style: italic;
  color: $color-text-header;
  font-weight: 200;
}

ul {
  li {
    line-height: 2rem;
    list-style-type: none;
    [class^='list--bullet'] {
      display: inline;
      color: $color-text-dark;
      margin-right: 3.2rem;
      @media screen and (max-width: 414px) {
        margin-right: 1rem;
      }
    }
    @media screen and (orientation: portrait) {
      .list--bullet__frontpage {
        display: block;
        padding-top: $rhythm-long;
      }
      &:first-of-type {
        [class^='list--bullet'] {
          padding-top: 0;
        }
      }
    }
  }
  padding-left: 0;
}

a {
  text-decoration: none;
  font-style: italic;
  color: $color-secondary;
}
