 @import url('https://fonts.googleapis.com/css?family=Quicksand');
html {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#wrapper {
  display: flex;
  position: relative;
  background-color: #222;
  height: 100vh;
    min-height: 100vh;
  width: 100vw;
    min-width: 100vw;
  justify-content: center;
}

#splash  {
  position: relative;
  margin: 0 auto;
  color: #c3c3c3;
  text-align: center;
}

#splash img {
  width: 50vw;
  padding-top: 2.5rem;
}

.loading {
  color: #c3c3c3;
  font-size: 1rem;  
  padding: 1em 0;
  margin: 0 auto;
}

a[class^="loading__icon--"], a[class^="loading__icon--"]:visited {
  color: #66bbff;
}
