@import url('https://fonts.googleapis.com/css?family=Barlow|Quicksand');
html {
  background-color: #222;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;

  --default-margin: 1.5rem;
  --project-width: calc(350px + 5vw);
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  padding: 0 !important;
}

a {
  display: inline-block;
  color: #68d5e2;
  position: relative;
  text-decoration: none;
  width: auto;
}

a:after {
  display: block;
  position: relative;
  top: 0.25rem;
  border-bottom: 1px solid #979797;
  content: '';
  margin-top: -0.125rem;
  margin-bottom: 0.25rem;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.39, 0.53, 0.11, 0.96);
  width: 100%;
}

a:hover:after {
  position: relative;
  transform: scaleX(1);
  width: 100%;
}

#wrapper {
  display: flex;
  position: relative;
  background-color: #222;
  width: 100vw;
    min-width: 100vw;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  display: block;
  margin: 5vw 0 1.5rem;
  margin-right: 3vw;	
  width: 80%;
}

section {
  color: #ccc;
  flex-basis: 70vw;
  font-family: 'Barlow', sans-serif;
  padding: 0 2vw 2vw;
  margin-bottom: 1rem;
}

#social, #languages, #technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 80vw;
}

.section__container {
  width: 50vw;
}

.site__title--main {
  color: #eee;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  flex-basis: 100%;
  margin-bottom: 1.25rem;
  text-align: left;
}

.site__title--centered {
  color: #eee;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  flex-basis: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.site__title--sub {
  color: #eee;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold; 
}
.projects__wrapper {
  display: flex;
  margin: 2.25rem 2vw 0;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.projects__project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  flex-basis: calc(500px + 5vw);
  margin-bottom: 3rem;
  overflow: hidden;
}

@media (min-width: 960px) {
  .projects__project {
    flex-basis: calc(400px + 5vw);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.projects__project--img {
  display: block;
  width: var(--project-width);
  height: calc(150px + 10vw);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
  padding: .25rem;
}

@media (min-width: 960px) {
  .projects__project--img {
    height: calc(100px + 10vw);
  }
}

.projects__project--title {
  color: #eee;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.projects__project--desc {
  color: #ccc;
  width: var(--project-width);
  font-family: 'Barlow', sans-serif;
}
/*
.calendar {
  color: #ccc;
  flex-basis: 70vw;
  font-family: 'Barlow', sans-serif;
  padding: 0 2vw 2vw;
  margin-bottom: 1rem;
  background-color: #222;
}
*/

