@import url('https://fonts.googleapis.com/css?family=Barlow|Quicksand');
html {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  overflow-x: hidden;
  padding: 0 !important;
}

a {
  color: powderblue;
  text-decoration: none;
}

#wrapper {
  display: flex;
  position: relative;
  background-color: #222;
  width: 100vw;
    min-width: 100vw;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  display: block;
  margin: 5vw 0 0;	
  width: 75%;
  max-height: 20vh;
}

#social {
  color: #ccc;
  flex-basis: calc(100% - 30vw);
  font-family: 'Barlow', sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}

#projects {
  display: flex;
  margin: 0 2vw;
  flex-basis: calc(100% - 20vw);
  flex-wrap: wrap;
  justify-content: center;
}

.projects__project {
  position: relative;
  flex-basis: calc(400px + 5vw);
  min-height: calc(200px + 5vw);
  margin: 0 1.5rem 3rem;
  overflow: hidden;
}

.projects__project--img {
  display: block;
  width: calc(100% - 1rem);
  height: calc(200px + 5vw);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
  padding: .25rem;
}

.projects__project--title {
  color: #eee;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.projects__project--desc {
  color: #ccc;
  font-family: 'Barlow', sans-serif;
}


