@import url('https://fonts.googleapis.com/css?family=Inconsolata|Quicksand');
html {
  font-size: 12px;
  font-family: 'Inconsolata', monospace;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

#wrapper {
  position: relative;
  background-color: #222;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
}

#splash  {
  position: relative;
  margin: 0 auto;
  color: #c3c3c3;
  text-align: center;
  top: 50%;
  transform: translateY( -60% );
}

#splash img {
  width: 66vw;
}

.loading {
  color: #c3c3c3;
  font-size: 1rem;  
  padding: 1em 0;
  margin: 0 auto;
}

a[class^="loading__icon--"], a[class^="loading__icon--"]:visited {
  color: #66bbff;
}
