@import url("https://fonts.googleapis.com/css?family=Barlow|Quicksand");

/* PAGE */
html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  background-color: #222;
  color: #ccc;
  font-size: 24px;
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Barlow", sans-serif;
  margin: 0;
  padding: 0;

  --off-white: #ccc;
  --off-black: #222;
  --best-color-ever: #fc4675;
}
body {
  margin: 0 !important;
  overflow-x: hidden;
  padding: 0 !important;
}
#wrapper {
  position: relative;
  background-color: #222;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
}
p {
  font-size: 0.75rem;
  font-family: "Barlow", san-serif;
  margin-bottom: 1.5rem;
}
@media screen and (orientation: portrait) {
  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
a.slide {
  display: inline-block;
  color: #68d5e2;
  flex-grow: 0;
  font-size: 0.75rem;
  position: relative;
  text-decoration: none;
}
@media screen and (orientation: portrait) {
  a.slide {
    font-size: 1.5rem;
  }
}
a.slide:after {
  display: block;
  position: relative;
  top: 0.25rem;
  border-bottom: 1px solid #979797;
  content: "";
  margin-top: -0.125rem;
  margin-bottom: 0.25rem;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.39, 0.53, 0.11, 0.96);
  width: 100%;
}
a.slide:hover:after {
  position: relative;
  transform: scaleX(1);
  width: 100%;
}

/* MAIN SECTION GRID */
.container__main {
  display: grid;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  grid-template-columns: 5vmin auto 5vmin;
  grid-template-rows: 10vmin repeat(4, auto);
  grid-template-areas:
    "margin logo margin"
    "margin about margin"
    "margin lagnauges margin"
    "margin technologies margin";
}
.logo {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
  justify-content: center;
}
[class*="main__section"] {
  margin: 1rem 10vw;
  text-align: center;
}
@media screen and (orientation: portrait) {
  .logo {
    height: 100vh;
  }
  .logo > img {
    margin-bottom: 20vh;
  }
  [class*="main__section"] {
    margin: 10vh 0;
  }
}
.main__section--about {
  grid-area: 3 / 2 / 4 / 3;
  margin-top: 2.5rem;
}
.main__section--languages {
  grid-area: 4 / 2 / 5 / 3;
}
.main__section--technologies {
  grid-area: 5 / 2 / 6 / 3;
}

/* PROJECTS GRID */
.container__projects {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  grid-template-columns: 5vw 45vw 45vw 5vw;
  grid-template-rows: auto;
  grid-template-areas:
    "margin projects__title projects__title margin"
    "margin project-1 project-2 margin"
    "margin project-3 project-4 margin";
}
.projects__title {
  grid-area: 1 / 2 / 2 / 4;
}
div.project__image-wrapper {
  width: 100%;
  height: calc(45vw * 9 / 16);
}
img.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
[class*="projects__section"] {
  padding: 1rem;
  text-align: center;
}
.projects__section--project-1 {
  grid-area: 2 / 2 / 3 / 3;
}
.projects__section--project-2 {
  grid-area: 2 / 3 / 3 / 4;
}
.projects__section--project-3 {
  grid-area: 3 / 2 / 4 / 3;
}
.projects__section--project-4 {
  grid-area: 3 / 3 / 4 / 4;
}

@media screen and (orientation: portrait) {
  /* only use a double-column display on desktop */
  .container__projects {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 5vmin auto 5vmin;
    grid-template-rows: auto;
    grid-template-areas:
      "margin title margin"
      "margin project-1 margin"
      "margin project-2 margin"
      "margin project-3 margin"
      "margin project-4 margin";
  }
  div.project__image-wrapper {
    width: 100%;
    height: auto;
  }
  .projects__title {
    grid-area: 1 / 2 / 2 / 3;
  }
  .projects__section--project-1 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .projects__section--project-2 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .projects__section--project-3 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .projects__section--project-4 {
    grid-area: 5 / 2 / 6 / 3;
  }
}

/* FOOTER */
div.footer {
  background: #202020;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 350px;
}
div.footer a.slide {
  font-size: 1.5rem;
  padding: 0.5rem;
}
/* div.footer .copyright {
  flex-basis: 100%;
  text-align: center;
  align-self: flex-end;
  margin-bottom: 1rem;
  font-size: 0.5rem;
  font-family: "Quicksand", sans-serif;
} */
div.footer .social-media {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

/* ASSETS */
div.button {
  padding: 0.5rem 1rem 0.75rem;
  border: 2px solid var(--best-color-ever);
  border-radius: 50px;
  font-size: 0.75rem;
  font-family: "Quicksand", sans-serif;
  margin: 0 25%;
  transition: 0.5s cubic-bezier(0.03, 0.86, 0.91, 0.83);
}
div.button:hover {
  margin: 0 23%;
  background-color: var(--best-color-ever);
}
a.button__link {
  text-decoration: none;
  color: var(--off-white);
  transition: 0.2s ease-in-out;
}
div.button:hover a.button__link {
  color: var(--off-black);
}
img.logo__logo {
  display: block;
  margin-right: 2vw;
  width: 75%;
}
div.separator {
  background-color: var(--best-color-ever);
  border-radius: 50px;
  height: 2px;
  margin: 1rem 0 10vh;
  transform: translateX(calc(50vw - 25px));
  width: 50px;
}
.title {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.subtitle {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}
@media screen and (orientation: portrait) {
  div.button {
    font-size: 1.5rem;
  }
  .logo__logo {
    width: 90%;
  }
  .title {
    font-size: 3rem;
  }
}
